<!doctype html>
<p>Is It Cruelty-Free? Know Your Cruelty-Free Bunny Logos</p>
<main class="grid">
  <article>
    <img src="./assets/crueltyfree-bunny-logos.gif" alt="Sample photo">
    <div class="text">
      <h3>Look for a Certified Bunny Logo on Packaging</h3>
      
    </div>
  </article>
  <article>
    <img src="./assets/vegan.png" alt="Sample photo">
    <div class="text">
      <h3>Certified Vegan Logos</h3>
      
    </div>
  </article>
  <article>
    <img src="./assets/bunny-logos.gif" alt="Sample photo">
    <div class="text">
      <h3>Unofficial Bunny Logos</h3>
      
    </div>
  </article>

</main>