<div class="container">
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="The Issue">
        <div class="row-1">
            <div class="col-1">
                <h2>{{ theissue }} </h2>
                <img src="assets/issue-pic.png" alt="Cosmetic Testing"/>
            </div>
        </div> 
    </mat-tab>
    <mat-tab label="Harms It Can Do"> 
        <div class="row-2">
            <div class="col-2">
                <h4>
                    Rabbits, mice, guinea pigs, and rats are used in a variety of invasive 
                    experiments and these tests can result in immense pain, distress, 
                    blindness, swollen eyes, sore and bleeding skin, internal bleeding, 
                    organ damage, birth defects, convulsions and even death in the animals. 
                    This may involve the following:<br>
                    <br>
                    Skin and eye irritation tests where chemicals are rubbed onto the shaved skin 
                    or dripped into the eyes of restrained rabbits, without any pain relief.<br>
                    <br>
                    Tests that deliver doses of chemical substances to mice through repeated 
                    force-feeding. These tests last weeks or months so researchers can look for 
                    signs of general illness or specific health hazards such as cancer or birth defects.<br>
                    <br>
                    Widely condemned "lethal dose" tests, in which rats are forced to swallow 
                    large amounts of chemicals to determine the dose that causes death.<br>
                    <br>
                    At the end of some tests, the animals are killed, normally by asphyxiation, 
                    neck-breaking or decapitation and pain relief is not provided. 
                </h4>
                <img src="assets/harms-pic.png" alt="Harms of Cosmetic Testing"/>
            </div>
        </div> 
    </mat-tab>
    <mat-tab label="Alternatives to Animal Testing"> 
        <div class="row-3">
            <div class="col-3">
                <img src="assets/alt-pic.png" alt="Alternatives to Cosmetic Testing"/>
                <h4>Replacing cruelty testing does not mean halting medical progress. 
                    Rather, replacing with humane alternatives
                    would increase the consistency and humaneness of research. 
                    Fortunately, alternative approaches are becoming more common and
                    thousands of products are now on the market that are made from 
                    ingredients that have a long history of being healthy and do not 
                    need further testing.<br>
                    <br>
                    1. Human volunteers.<br>
                    Human volunteers' studies are far more applicable to the general 
                    public than animal tests. Human volunteers are clearly at risk, 
                    according to critics of this choice. Advances in technology, 
                    on the other hand, enable researchers to test chemicals on 
                    humans with minimal risk.<br>
                    <br>
                    2. Computer Models<br>
                    Computer models remove the need for animal research and do 
                    not necessitate the use of human subjects. These models are 
                    also cost-effective, since they can be used over and over 
                    again without wasting money.<br>
                    <br>
                    3. In Vitro Testing<br>
                    To assess the toxicity or irritation potential of particular 
                    chemicals, this approach uses real human cells. One method of in-vitro testing 
                    produced by Harvard researchers, for example, entails the development of 
                    microchips containing human cells. On these microchips, various types of 
                    human cells are used to mimic the structure and function of particular 
                    organs or structures in the human body, such as the skin. Researchers 
                    may use these chips to see how particular body systems respond to a new 
                    chemical, eliminating the need for animal testing. In the cosmetics 
                    industry, the cells will be used to monitor reactions to specific 
                    substances by simulating the function of human skin.<br>
                </h4>
            </div>
        </div> 
    </mat-tab>
</mat-tab-group>
</div>