@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


.container {
    height: 40vh;
    text-align: center;
    color: #646463;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Roboto Slab', serif;

}
a {
    text-align: center;
    display: inline-block;
    padding-right: 1em;
}


.row-1 .col-1 {
    text-align: center;
    padding: 30px 100px 0px 100px;
}
.row-1 .col-1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}
.row-2 .col-2 {
    text-align: left;
    padding: 30px 80px 0px 80px;
}
.row-2 .col-2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 300px;
    padding-bottom: 20px;
}
.row-3 .col-3 {
    text-align: left;
    padding: 0px 80px 20px 80px;
}
.row-3 .col-3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 280px;
}
