<mat-toolbar  [@enter1] color="accent">
  <button mat-icon-button class="example-icon" aria-label="Example home icon" routerLink="#">
    <mat-icon>home</mat-icon>
  </button>
  <span>C R U E L T Y &nbsp; F R E E &nbsp; P H</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div [@enter1] class="heading">
  <img src="assets/main-header.png" alt="Main Header Picture"/>
</div>

<div class="first" [@enter2]>
  <app-issue></app-issue>
</div>

<a href="#fourth"><button mat-raised-button color="accent" [@enter2]
  >What You Can Do</button></a>

<div class="second" [@enter2]>
<app-brands></app-brands>
</div>

<app-indicators [@enter3]></app-indicators>

<div id="fourth" [@enter4]>
<app-petitions ></app-petitions>
</div>