<mat-toolbar color="accent">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>C R U E L T Y &nbsp; F R E E &nbsp; P H</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div class="heading">
  <img src="assets/main-header.png" alt="Main Header Picture"/>
</div>

<div class="first">
  <app-issue></app-issue>
</div>
<app-brands></app-brands>
<app-indicators></app-indicators>
<app-petitions></app-petitions>