.example-spacer {
    flex: 1 1 auto;
  }

.heading img{
    display: block;
    width: 100%;
    height: 500px;;
}
.first {
  margin-bottom: 25em;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button, a {
  text-decoration: none;
 }