.example-spacer {
    flex: 1 1 auto;
  }

.heading img{
    display: block;
    width: 100%;
    height: 500px;;
}
.first {
  margin-bottom: 29em;
}
 

.action {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  

}


.action, a {
  text-decoration: none;
  font-size: 20px;
 
 }