@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

p {
  font-size: 30px;
  text-align: center;
  padding-top: 5px;
  
}



h1{
  font-size: 30px;
  color: #646463;
}
h2 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #646463;
  padding: 0px 80px 0px 80px;
  color: #646463;
}
h3 {
  font-size: 20px;
  color: #646463;
}

.example-card {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display:block;
    text-align: center;
    box-shadow: none;
}
  
  .example-header-image {
    background-size: cover;
  }
