<br>
<p>10 CRUELTY-FREE FILIPINO BEAUTY BRANDS</p>
<h3 class="main">The Humane Society of the United States released a docu-style short film titled <a href="https://www.youtube.com/watch?v=G393z8s8nFY">Save Ralph</a> in April. The video quickly went viral, drawing attention to the horrors of 
  animal testing through the character Ralph, a bunny who has suffered multiple injuries as a result of his "job." With over 11 million views on YouTube, the film sparked a 
  worldwide animal rights movement, increasing demand for cruelty-free products.
  Fortunately, these aren't difficult to come by in your area. Long before the now-popular short film 
  was even shared, a slew of Filipino beauty brands pledged to be cruelty-free. If you've been considering 
  donating to this cause, keep reading for a list of ten cruelty-free beauty brands and their must-have products.</h3>
<div class="grid1" style="display:flex; flex-direction: row;">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h1>1. Happy Skin <br></h1>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>
        Happy Skin began selling their products in some branches of the popular retail store Plains & Prints when it was founded in 2013. They now have stores in all of the country's major department stores, as well as several boutiques of their own. Happy Skin believes that make-up products can help you feel more beautiful, and it is dedicated to providing skin-loving cosmetics to Filipinos.
      </h3>
    </mat-card-content>
    <br>
    <a href="https://www.happyskincosmetics.com/248-dew-collection?p=2"><img mat-card-image src="./assets/happy-skin.jpeg" alt="happyskin"></a>
    <mat-card-subtitle>Happy Skin Fresh Morning Dew Collection</mat-card-subtitle>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h1>2. Sunnies Face <br></h1>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>
        Sunnies Face has quickly gained a large following since its launch in August 2018, which is quite impressive considering they only had lip products in their portfolio at the time. The brand didn't branch out into other categories like highlighters and brow products until months after their launch. The Fluffmate is the brand's newest product, which was just released recently.</h3>
    </mat-card-content>
    <br>
    <a href="https://www.sunniesface.com/makeup/?p=fluffmatte"><img mat-card-image src="./assets/sunnies-face.png" height="250" alt="sunnies-face"></a>
    <mat-card-subtitle>Sunnies Face Fluffmate</mat-card-subtitle>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h1>3. Colourette <br></h1>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>
        Colourette broke into the local cosmetics industry with a line of high-quality, low-cost lippies that have become one of many Filipinas' "holy grails." The brand has attracted so many fans thanks to its gorgeous shades and long-lasting lipsticks that it has expanded its product line to include highlighters and blushers.</h3>
    </mat-card-content>
    <br>
    <a href="https://www.colourettecosmetics.com/collections/new-arrivals-1/shimmertint"><img mat-card-image src="./assets/colourette.jpg" alt="shimmertint"></a>
    <mat-card-subtitle>Colourette's Shimmertint</mat-card-subtitle>
  </mat-card>
</div>
<div class="grid2" style="display:flex; flex-direction: row;">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h1>4. BLK Cosmetics <br></h1>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>
        Anne Curtis, actress and style icon, has launched her own make-up line to share her love of beauty. With BLK Cosmetics, a brand that focuses on "uncomplicated beauty," the celebrated actress hopes to redefine the local make-up scene. The goal of the brand is to keep things simple by going back to basics, with a carefully curated product selection that only includes high-quality make-up essentials.</h3>
    </mat-card-content>
    <br>
    <iframe width="300" height="215" src="https://www.youtube.com/embed/zu6-F4qQKRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <mat-card-subtitle><br> blk cosmetics Tutorial: K-Beauty Gradient Lips by Anne Curtis, youtube.com</mat-card-subtitle>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h1>5. Human Nature <br></h1>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>
        Human Nature was founded with the goal of restoring productivity to impoverished communities by creating high-quality cosmetics with natural ingredients sourced locally in the Philippines. Human Nature has grown into a major cosmetics company, but the company remains committed to its original mission of assisting communities and improving the lives of Filipinos.</h3>
    </mat-card-content>
    <br>
    <a href="https://humanheartnature.com/buy/index.php/tinted-lip-balm.html"><img mat-card-image src="./assets/human-nature.jpeg" height="300" alt="human-nature"></a>
    <mat-card-subtitle>Human Nature's Tinted Lip Balm</mat-card-subtitle>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h1>6. Ellana Cosmetics<br></h1>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>
        Ellana Cosmetics, which was founded in 2008, is the Philippines' leading mineral cosmetics brand. Ellana Cosmetics was created specifically for Filipinas and offers sophisticated yet affordable mineral make-up that is specifically formulated for Southeast Asian skin. When developing their products, they took into account factors such as our tropical climate and skin tones.
      </h3></mat-card-content>
    <br>
    <a href="https://www.ellanacosmetics.com/products/original-glow-bb-foundation"><img mat-card-image src="./assets/ellana.jpg" alt="ellana"></a>
    <mat-card-subtitle>Original Glow BB Foundie With SPF50 Mineral SkinShield</mat-card-subtitle>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h1>7. Pink Sugar<br></h1>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>
        Pink Sugar is a homegrown make-up brand that was founded in 2014 with the goal of providing high-quality cosmetics at a reasonable price. Make-up, according to the brand, is about feeling more beautiful and confident as well as looking good.
    </h3>  
  </mat-card-content>
    <br>
    <a href="https://www.sunniesface.com/makeup/?p=fluffmatte"><img mat-card-image src="./assets/pink-sugar.jpeg" height="300" alt="pink-face"></a>
    <mat-card-subtitle>Pink Sugar's Eye Shadow Palette, Eyebrow Kit, Lip & Cheek Tint, Setting Powders</mat-card-subtitle>
  </mat-card>
</div>
<div class="grid3" style="display:flex; flex-direction: row;">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h1>8. Chihuahua Cosmetics<br></h1>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>
        Changing the make-up game is Chihuahua Cosmetics, the first ever mini make-up in Asia. There’s a lot to love about this brand’s products. Aside from being adorably bite-sized, their products allow us to put a lot more make-up products in our bags so we can completely retouch our looks anytime, anywhere.
    </h3>  
  </mat-card-content>
    <br>
    <a href="https://chihuahuaislove.com/"><img mat-card-image src="./assets/chihuahua.png" height="300"alt="sunnies-face"></a>
    <mat-card-subtitle>Chihuahua Cosmetics, <a href="https://chihuahuaislove.com/">New Arrivals</a></mat-card-subtitle>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h1>9. Paprika Cosmetics<br></h1>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>
        Beauty, according to Paprika Cosmetics, should be unpredictable. As a result, the brand has created an eyeshadow palette with bold and experimental shades to help you create a look that is completely unique to you.
      </h3>
      </mat-card-content>
    <br>
    <img mat-card-image src="./assets/paprika.jpg" alt="sunnies-face">
    <mat-card-subtitle>Paprika Cosmetics Eyeshadow Palette</mat-card-subtitle>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h1>10. Strokes Beauty Lab<br></h1>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>
        Strokes Beauty Lab was already well-known for their brow microblading and lash services before launching the cruelty-free makeup line in 2020. Given that history, it's no surprise that this company is known for its high-quality and innovative brow products, particularly the Microblade Pen Perfector.</h3>
    </mat-card-content>
    <br>
    <a href="https://strokes.global/products/microblade-pen-perfector"><img mat-card-image src="./assets/strokes.png" height="200" alt="sunnies-face"></a>
    <mat-card-subtitle>Microblade Pen Perfector</mat-card-subtitle>
  </mat-card>
  </div>